name: Package nuget
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  RESULT_DIR: result
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2    
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json
          source-url: "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Restore dotnet tools
        run: dotnet tool restore
      - name: Build package
        run: |
          $packageOutputPath = Join-Path -Path $(pwd) -ChildPath ${{ env.RESULT_DIR }}
          New-Item -Path $packageOutputPath -ItemType Directory -Force
          msbuild -t:Restore -p:Configuration=Release
          ./pack.ps1 -PackageOutputPath $packageOutputPath
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: ${{ env.RESULT_DIR }}
      - name: Build Android APK
        run: dotnet publish sample -c Release -f net9.0-android -p:RunAOTCompilation=true -p:AndroidPackageFormat=apk
      - name: Upload Android APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: sample/bin/Release/net9.0-android/publish
      - name: Build Appium Test Runner
        run: dotnet publish tests/ui/android/UITests.Android.csproj -c Release -f net9.0 -o appium-runner
      - name: Upload Appium Test Runner artifact
        uses: actions/upload-artifact@v4
        with:
          name: appium-runner
          path: appium-runner
          
  android_ui_tests:
    runs-on: ubuntu-latest
    needs: [build]
    timeout-minutes: 30
    steps:
      - name: Enable KVM group permission for Linux runners
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm


      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '21'

      - name: Install Appium
        run: npm install -g appium

      - name: Install UIAutomator2 driver
        run: appium driver install uiautomator2
      
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Download Android APK artifact
        uses: actions/download-artifact@v4
        with:
          name: android-apk
          path: ./android-apk

      - name: Download Appium Test Runner artifact
        uses: actions/download-artifact@v4
        with:
          name: appium-runner
          path: ./appium-runner

      
      - name: Start Appium server
        run: nohup appium -a 127.0.0.1 -p 4723 > appium_log.txt 2>&1 &

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          global-json-file: global.json

      - name: Run Appium UI tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 35
          target: google_apis
          arch: x86_64
          force-avd-creation: true
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim
          disable-animations: true
          script: |
              ls -alhR ./android-apk
              adb devices
              
              export APPIUM_SCREENSHOTS_DIR="Screenshots" && export APPIUM_RECORD_SCREEN="true" && export ANDROID_APP_PATH="$PWD/android-apk/com.apes.maui.sample-Signed.apk" && dotnet test ./appium-runner/UITests.Android.dll --logger "trx;LogFileName=TestResults.trx"
              
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: appium-test-results
          path: |
            **/TestResults.trx
            Screenshots/**
            appium_log.txt
  publish_to_github:
    runs-on: ubuntu-latest
    needs: [ build ]
    environment: nuget
    steps:
      - name: Download artifacts  
        uses: actions/download-artifact@v4
        with:
          name: packages
          path: ${{ env.RESULT_DIR }}
      - name: Publish to github
        run: |
          dotnet nuget push "${{ env.RESULT_DIR }}/*.nupkg" \
            --source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" \
            --no-symbols \
            --skip-duplicate \
            --api-key ${GITHUB_TOKEN}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  publish_to_nuget:
    runs-on: ubuntu-latest
    needs: [ build ]
    environment: nuget
    if: github.base_ref == '' # this would be set only on pull_request builds
    steps:
      - name: Download artifacts  
        uses: actions/download-artifact@v4
        with:
          name: packages
          path: ${{ env.RESULT_DIR }}
      - name: Publish to nuget.org
        run: |
          dotnet nuget push "${{ env.RESULT_DIR }}/*.nupkg" \
            --source "nuget.org" \
            --skip-duplicate \
            --api-key ${NUGET_TOKEN} 
        env:
          NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
